body{
    background-color: darkblue;
}

.heading {
    width: 80%;
    font-size: 25px;
    color: aquamarine;
}

b{
    color: cyan;
    font-size: 20px;
}

p{
    color: red;
    font-size: 15px;
}

#camera {
    border-style: ridge;
    border-width: 5px;
    border-color: chartreuse;
    width: 350px;
    height: 350px;
}

label {
    color: magenta;
    font-size: 15px;
}

button{
    background-color: orange;
    color: chartreuse;
}